/* App.jsx -------------------------------------- */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.example {
    border: 1px solid rgb(255, 244, 210);
    padding: 1rem;
    width: 25%;
}

