:root {
    --border-default-color: rgb(255, 244, 210);
    background-color: rgb(41, 41, 41);
    color: rgb(241, 241, 241);
}

/* App.jsx -------------------------------------- */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.example {
    border: 1px solid var(--border-default-color);
    padding: 1rem;
    width: 25%;
}

/* Message.jsx -------------------------------------- */
.message {
    --padding: 1rem;
    position: relative;
    min-height: 2rem;
    padding: var(--padding);
    margin-bottom: 1rem;
    border: 1px solid var(--border-default-color);
}

.message__text {
    position: absolute;
}

.message__user {
    position: absolute;
    right: var(--padding);
    bottom: var(--padding);
}
/* Notification.jsx -------------------------------------- */
.notification {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--border-default-color);
}
